body{
	background: black;
    font-family: "Verdana", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
ul,
p{color: white}
h1{height: 50px;width: 50px}
h4{height: 20px}

p{font-size: 15px}


.container{
	text-align: center
}

.spazio{
    height: 20px
}

.appunti{
	font-size: 10px
}
	

.evi-big{
	color: #f4cccc
}
.evi-small{
	color: #f4cccc;
	font-size: 10px
    }
	
.didascalia{
font-size: 10px}

.note{
	color: #999999;
	text-align: right
}
	
.bibliografia{
	font-size: 10px
}
#date{
      color: #f4cccc}
#menu-principale{ text-align: right}
#menu-principale li{ display: inline}
#menu-principale li a{ margin: 10px}
#menu-itcaad{ text-align: right}
#menu-itcaad li{ display: inline}
#menu-itcaad li a{ margin: 10px}

footer{
text-align: center}